
<div class="sidebar">
  <div class="user-name">
    <h3>Welcome: ... </h3>
  </div>
  <button class="addMovie" (click)="openDialog()">Add Movie</button>
  <ul class="list">
    <li *ngFor="let post of posts">
      {{ post.category }}
    </li>
    <li><a hrouter-link="">Logout</a></li>
    <li>
      <a router-link="/login"> Login</a>
    </li>
    <li>
      <a router-link="/signup"> Signup</a>
    </li>
    <!-- <button class="addMovie logout" (click)="openDialog()">add movie</button> -->
  </ul>
</div>