mat-card {
    width: 50%;
    margin: 4rem auto;

    form {
      display: flex;
      flex-direction: column;
      h3 {
        text-align: center;
      }

      mat-dialog-actions {
        margin: 2rem 0;
        text-align: center;
      }
    }
}
.signup {
  text-align: center;
  a{
    font-size: 22px;
    letter-spacing: 2px;
    transition: color 0.2s ease-in;
    &:hover {
      color: gray;
    }
  }
}