main {
  border: 1px solid black;
  // height: 100vh;
  .columns {
    max-width: 100%;
    margin: auto;
    .column {
      padding: 0;
      &.left-border {
        text-align: center;
        height: 100vh;
        border-left: 1px solid black;
      }
    }
  }
}
