<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h3>Add a movie with all fields information </h3>
  <form (submit)="onAddPost(postForm)" action="" #postForm="ngForm" *ngIf="!isLoading">

    <mat-form-field>
      <mat-label> Movie Title </mat-label>
      <input 
        matInput 
        type="text" 
        name="title"
        ngModel
        #title="ngModel"
        required
        minlength="3"
        maxlength="30"  
      />
      <mat-error *ngIf="title.invalid">
        Please enter a post title
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Image </mat-label>
      <input 
        matInput 
        type="text" 
        name="img"
        ngModel
        #img="ngModel"
        required
        maxlength="100" 
        accept="image/*"
      />
      <mat-error *ngIf="title.invalid">
        Please enter an image
      </mat-error>

    </mat-form-field>

    <mat-form-field>
      <mat-label> Catgorey </mat-label>
      <mat-select 
      name="category"
      ngModel
      #category="ngModel"
      required
      minlength="3"
      maxlength="30"
      >
        <mat-option 
        *ngFor="let cat of categories.category" 
        [value]="cat.category"> {{cat.category}}</mat-option>
     
      </mat-select>
      <mat-error *ngIf="category.invalid">
        Please enter a post category
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label> IMDB Link</mat-label>
      <input 
        matInput
        name="imdb"
        ngModel
        #imdb="ngModel"
        required
        minlength="3"
        maxlength="30"  
      > 
      <mat-error *ngIf="category.invalid">
        Please enter a imdb link
      </mat-error>

    </mat-form-field>

    <mat-dialog-actions>
      <button 
        color="accent" 
        mat-raised-button 
        type="submit"
      > save post </button>
      <button  
        mat-raised-button  
        mat-button  
        color="primary" 
        (click)="close()" > Close
    </button>
    </mat-dialog-actions>
  
  </form>
  </mat-card>

