
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="card-wrapper" *ngIf="posts.length > 0 && !isLoading">
  <mat-card class="card-box" *ngFor="let post of posts">
    <img mat-card-image src="{{ post.img }}" alt="some image">
    <mat-card-header>
      <span></span>
      <mat-card-title> <p>  Title: </p> {{ post.title }} </mat-card-title>
      <mat-card-subtitle> <p>category: </p> {{ post.category }}</mat-card-subtitle>
    </mat-card-header>
    <span class="delete-icon" (click)="onDelete(post.id)">x</span>
  </mat-card>
</div>
<p class="info-text" *ngIf="posts.length <= 0 && !isLoading"> There are no videos added yet</p>

