.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;

  mat-card {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &.card-box {
      max-width: 330px;
      // min-height: 175px;
      // height: 175px;

      .delete-icon {
        position: absolute;
        top: 6px;
        left: 10px;
        margin: auto;
        cursor: pointer;
        font-size: 18px;
        transition: color 0.2s ease-in-out;
        border: none;
        background: white;
        transition: background-color 0.2s ease-in-out;
    
        &:hover {
          color: red
        }
      }
    }
    img {
      width: 40%;
      margin: 1rem;
      min-height: 100px;
    }
    mat-card-header {
      width: 100%;

      mat-card-subtitle {
        font-weight: 500;
        color: rgba(0,0,0, 0.7);
        p{
          margin: 10px 0 0 0;
          font-weight: 400;
          color: gray;
        }
      }

    }
    mat-card-title {
      display: flex;
      align-items: baseline;
      padding-top: 2rem;
      color: rgba(0,0,0, 0.7);
      
      p {
        font-size: 18px;
        font-weight: 400;
        color: gray;
        padding-right: 5px;
      }
    }
  
    &:hover {
      background-color: rgba(209, 241, 230, 0.507);
      .delete-icon {
        background-color: rgba(209, 241, 230, 0.507);
      }
    }
  }
}
.info-text {
  text-align: center;
}
.mat-expansion-panel {
  margin-bottom: 0.5rem;
}

mat-spinner {
  margin: auto;
}